<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-only start (click)="general.menu();">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  
  </ion-toolbar>
</ion-header>


<ion-content margin-top padding >

      <div class='the-container'>
        <span  style='color: #fff; font-size: 20px;'>Inicio de crianza pabellon</span>
      </div>
      
      <ion-row margin-top margin-bottom>
        <ion-col class='border-col'  margin-bottom>
          <div hidden class='title-separation'>
            Fecha:
          </div>
         
        <ion-item >
          <ion-label>Fecha:</ion-label>
          <ion-datetime [(ngModel)]='fecha.fechaInicio' #dateinput class="bold-text" displayFormat='DD/MM/YY' pickerFormat='DD/MM/YYYY'  name='fecha' placeholder="seleccione"></ion-datetime>
        </ion-item>
        </ion-col>
        <ion-col class='border-col header-separation' margin-bottom>
      
      
          <ion-item >
            <ion-label >Hora:</ion-label>
            <ion-datetime [(ngModel)]='fecha.horaInicio' #dateinput class="bold-text" displayFormat='HH:mm' pickerFormat='HH:mm' name='hora' placeholder="seleccione"></ion-datetime>
          </ion-item>
          
        </ion-col>
      </ion-row>
      
     
      <div class="coment-cont" >
          <div class=" coment-item">
                <ion-grid>
                  <ion-row>
                    <ion-col col-6><ion-label>Sector:</ion-label></ion-col>
                    <ion-col col-6 class="bold-text">{{sector}}</ion-col>
                  </ion-row>
                </ion-grid>
          </div>
        </div>


        <div class="coment-cont" >
            <div class=" coment-item">
                  <ion-grid>
                    <ion-row>
                      <ion-col col-6> <ion-label>Pabellón:</ion-label></ion-col>
                      <ion-col col-6 class="bold-text">
                         <ion-select [(ngModel)]="idPabellon"  col-12  placeholder="Seleccione pabellón">
                          <ion-option  *ngFor="let pabellon of pabellones"  [value]="pabellon.id" name='pabellon' col-12 >{{pabellon.nro_pabellon}}</ion-option>
                        </ion-select>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
            </div>
          </div>

      
          <div class="coment-cont" >
              <div class=" coment-item">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6> <p>  N° Crianza:</p></ion-col>
                            <ion-col  col-6 >
                                <p style="color: #0D67E6">{{idCrianza}}</p>
                              
                           </ion-col>
                          </ion-row>
                    </ion-grid>
              </div>
            </div>


 

        <div class="coment-cont" >
            <div class=" coment-item">
                <ion-grid>
                    <ion-row>
                      <ion-col col-6><p>Cantidad inicial de animales: </p>  </ion-col>
                      <ion-col col-6 class="bold-text">
                          <ion-input class="input" [(ngModel)]="cantidadInicial"  type='number' col-12  placeholder="Cantidad animales"></ion-input>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
              
            </div>
          </div>

          <div class="coment-cont" >
              <div class=" coment-item">


                  <ion-grid>
                      <ion-row>
                        <ion-col col-6 > <ion-label>Sexo:</ion-label></ion-col>
                       <ion-col col-6 class="bold-text">
                              <ion-select [(ngModel)]="sexo" col-12 placeholder="Seleccione sexo">
                                  <ion-option col-12 value="Hembra">Hembra</ion-option>
                                  <ion-option col-12 value="Macho">Macho</ion-option>
                                  <ion-option col-12 value="Mixto">Mixto</ion-option>
                            
                                </ion-select>
                          </ion-col>
                      </ion-row>
                      
                    </ion-grid>

           
              </div>
            </div>

            <div class="coment-cont" >
                <div class=" coment-item">

                    <ion-grid>
                        <ion-row>
                          <ion-col col-6> <p> Peso promedio inicial:</p>  </ion-col>
                          <ion-col col-6 class="bold-text">
                              <ion-input class="input" [(ngModel)]="pesoPromedioInicial" type='number' col-12 placeholder="Ingrese peso"></ion-input>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                
                
                </div>
              </div>

              <div class="coment-cont">
                  <div class=" coment-item">
                      <ion-grid>
                          <ion-row>
                            <ion-col col-6> <p> Edad inicio: </p> </ion-col>
                            <ion-col col-6 class="bold-text">
                                <ion-input class="input" [(ngModel)]="edadInicial" type='number' col-12 placeholder="Ingrese edad"></ion-input>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                   
                  </div>
                </div>

                <div class="coment-cont"  >
                    <div class=" coment-item">
                        <ion-grid>
                            <ion-row>
                              <ion-col col-6> <p>Edad reproductora: </p>  </ion-col>
                              <ion-col col-6 class="bold-text">
                                  <ion-input class="input" [(ngModel)]="edadReproductora" type='number' col-12 placeholder="ingrese edad"></ion-input>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                     
                    </div>
                  </div>

                  <div class="coment-cont" *ngIf="permiso=='aves'">
                      <div class=" coment-item">
                          <ion-grid>
                              <ion-row>
                                <ion-col col-6><p>Cantidad edad reproductora nuevos: </p>  </ion-col>
                                <ion-col col-6 class="bold-text">
                                    <ion-input class="input" [(ngModel)]="edadReproductoraNueva"  type='number' col-12 placeholder="Ingrese cantidad"></ion-input>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                    
                      </div>
                    </div>

                    <div class="coment-cont" *ngIf="permiso=='aves'">
                        <div class=" coment-item">
                            <ion-grid>
                                <ion-row>
                                  <ion-col col-6><p> Cantidad edad reproductora medianos: </p>  </ion-col>
                                  <ion-col col-6 class="bold-text">
                                      <ion-input class="input" [(ngModel)]="edadReproductoraMediana"  type='number' col-12 placeholder="Ingrese cantidad"></ion-input>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                      
                        
                        </div>
                      </div>

                      <div class="coment-cont" *ngIf="permiso=='aves'">
                          <div class=" coment-item">
                              <ion-grid>
                                  <ion-row>
                                    <ion-col col-6><p>Cantidad edad reproductora viejos:</p>    </ion-col>
                                    <ion-col col-6 class="bold-text">
                                        <ion-input class="input" [(ngModel)]="edadReproductoraVieja"  type='number' placeholder="Ingrese cantidad"></ion-input>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                         
                          </div>
                        </div>

                        <div class="coment-cont"  >
                            <div class=" coment-item">
                                <ion-grid>
                                    <ion-row>
                                      <ion-col col-6><p>Medidor de luz: </p> </ion-col>
                                      <ion-col col-6 class="bold-text">
                                          <ion-input class="input" [(ngModel)]="medidorLuz"  type='number' col-12 placeholder="Valor medidor"></ion-input>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
                            
                            </div>
                          </div>

                          <div class="coment-cont"  >
                              <div class=" coment-item">
                                  <ion-grid>
                                      <ion-row>
                                        <ion-col col-6> <p> Medidor de agua:  </p>  </ion-col>
                                        <ion-col col-6 class="bold-text">
                                            <ion-input class="input" [(ngModel)]="medidorAgua"  type='number' col-12 placeholder="Valor medidor"></ion-input>
                                        </ion-col>
                                      </ion-row>
                                    </ion-grid>
                         
                              </div>

                             

                          </div>
                          <div class='btn-container'>
                              <button margin-bottom ion-button round  style='margin-bottom: 30px' class="login-btn" type='submit' (click)='submit()' [disabled]="!fecha.fechaInicio || !fecha.horaInicio" >Enviar </button>
                             
                            </div>
</ion-content>