<ion-header>
  
    <ion-toolbar>
      <ion-buttons>
        <button ion-button icon-only start (click)="general.menu();">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-buttons end>
          <button ion-button icon-only hidden >
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>




<ion-content padding>

    <div class='the-container'>
        <span  style='color: #fff; font-size: 20px;'>Formulario de carga dieta</span>
      </div>
      
      <ion-row margin-top margin-bottom>
        <ion-col class='border-col'  margin-bottom>
         
         
        <ion-item >
          <ion-label>Fecha:</ion-label>
          <ion-datetime [(ngModel)]='fecha.fechaInicio' #dateinput class="bold-text" displayFormat='DD/MM/YY' pickerFormat='DD/MM/YYYY'   name='fecha' placeholder="Seleccione"></ion-datetime>
        </ion-item>
        </ion-col>
        <ion-col class='border-col header-separation' margin-bottom>
      
      
          <ion-item >
            <ion-label>Hora:</ion-label>
            <ion-datetime [(ngModel)]='fecha.horaInicio' #dateinput class="bold-text" displayFormat='HH:mm' pickerFormat='HH:mm' name='hora' placeholder="Seleccione"></ion-datetime>
          </ion-item>
          
        </ion-col>
      </ion-row>

    

      
          <div class="coment-cont" >
              <div class=" coment-item">
                  <ion-grid>
                      <ion-row>
                        <ion-col col-4><ion-label>N° guía:</ion-label></ion-col>
                        <ion-col col-6 class="bold-text"> <ion-input [(ngModel)]='NumeroGuia' name="NumeroGuia"  type='number' [disabled]="iniciado" placeholder="Ingrese N° guía"></ion-input></ion-col>
                        <ion-col col-2><button ion-button  (click)='validarNumeroGuia()'> <ion-icon name="return-right"></ion-icon></button></ion-col>
                      </ion-row>
                    </ion-grid>
                
              </div>
            </div>
    
            <div class="coment-cont" >
                <div class=" coment-item">
                    <ion-grid>
                        <ion-row>
                          <ion-col col-4><ion-label>Sector guía:</ion-label></ion-col>
                          <ion-col col-8 class="bold-text"> <ion-label>{{SectorGuia}}</ion-label></ion-col>
                        </ion-row>
                      </ion-grid>
          
                </div>
              </div>


                  <div class="coment-cont">
                      <div class=" coment-item">
                          <ion-grid>
                              <ion-row>
                                <ion-col col-4> <ion-label>Pabellón real:</ion-label></ion-col>
                                <ion-col col-8 class="bold-text">
                                    <ion-select    [(ngModel)]="Pabellon" (ngModelChange)='getIdSilos()' col-12 [disabled]="!DietaSilo1"  placeholder="Seleccione pabellón">
                                        <ion-option value="{{p.id}}" *ngFor="let p of ListaPabellones"  col-12>{{p.nro_pabellon}} </ion-option>    
                                      </ion-select>
                                </ion-col>
                              </ion-row>
                            </ion-grid>

                        
                      </div>
                    </div>

                
     

                   <div class="coment-cont" >
                      <div class=" coment-item">
                          <ion-grid>
                              <ion-row>
                                <ion-col col-4><ion-label>Dieta: </ion-label></ion-col>
                                <ion-col col-8 class="bold-text"> <ion-label>{{ListaDietaGuia}}</ion-label></ion-col>
                              </ion-row>
                            </ion-grid>
                      
                      </div>
                    </div>


                <div class="coment-cont" >
                    <div class=" coment-item">
                        <ion-grid>
                            <ion-row>
                              <ion-col col-4> <ion-label>Kilos silo 1:</ion-label></ion-col>
                              <ion-col col-8 class="bold-text"> <ion-input  type='number' [(ngModel)]="KilosSilo1" [disabled]="!DietaSilo1"  placeholder="Ingrese kilos silo 1"></ion-input></ion-col>
                            </ion-row>
                          </ion-grid>
                      
                    </div>
                  </div>


               
       
                    <div class="coment-cont" >
                      <div class=" coment-item">
                          <ion-grid>
                              <ion-row>
                                <ion-col col-4>  <ion-label>Dieta: </ion-label></ion-col>
                                <ion-col col-8 class="bold-text"><ion-label>{{ListaDietaGuia}} </ion-label></ion-col>
                              </ion-row>
                            </ion-grid>
                       
                      </div>
                    </div>
                    
                <div class="coment-cont" >
                    <div class=" coment-item">
                        <ion-grid>
                            <ion-row>
                              <ion-col col-4> <ion-label>Kilos silo 2:</ion-label></ion-col>
                              <ion-col col-8 class="bold-text"><ion-input  type='number' [(ngModel)]="KilosSilo2" [disabled]="!DietaSilo1"  placeholder="Ingrese kilos silo 2"></ion-input></ion-col>
                            </ion-row>
                          </ion-grid>
                     
                    </div>
                  </div>

                  

                  <ion-grid>   
                    <ion-row>
                      <ion-col col-6>
                        <button  ion-button round    type='buttom' (click)='Agregar()'  [disabled]="!NumeroGuia || !Pabellon  ||!ListaDietaGuia || !fecha.fechaInicio || !fecha.horaInicio" >Enviar </button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>


</ion-content>
