

<ion-content no-padding>
 
  <div >
    
    <img src="./assets/imgs/header-login.png" class="agrosuper-logo">
  </div>

 <form  (ngSubmit)="login()" class="login-form">
    <ion-list>

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input autocapitalize="off"  [(ngModel)]="sessionData.username" [ngModelOptions]="{standalone: true}" ></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password"  [(ngModel)]="sessionData.password" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
    
    </ion-list>

    <button ion-button  full type="submit" class="login-btn"> Iniciar sesión </button>
  

  </form>
</ion-content>
