page-home {

   

    img{
        width: 100%;
    }
    .login-form{
        .item {
            border-top: none !important;
            border-bottom: none !important;
            padding-left: 0;
        }

        .item-inner{
            border-bottom: 1px solid #D4D4D4 !important;
        }
        padding: 0 2.5em;
        .label {
            color: #D4D4D4;
        }

        .login-btn{
            border-radius: 10px;
            background-color: #2264A7;
            font-size: 1.2em !important;
        }
    }
}
