page-direccion {
   

    .the-container{
        background-image: url('../assets/imgs/linea.png');
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        height: 200px;
        
    }



    ion-select {
        max-width: 65%;
    }

    .coment-cont{
        width: 100%;
        display: flex;
        padding: 5px;
        margin-bottom: 0.5em;
        .coment-item{
            display: flex;
            width: 100%;
            background-color: #FAFAFA;
            border-radius: 5px;
            -webkit-box-shadow: 2px 2px 18px 0px rgba(117, 114, 114, 0.425);
            -moz-box-shadow:    2px 2px 18px 0px rgba(117, 114, 114, 0.425);
            box-shadow:         2px 2px 18px 0px rgba(117, 114, 114, 0.425);

            padding: 11px;
        }

    }

    .btn-container {
        display: flex;
        justify-content: center;
    }

    .login-btn{
        border-radius: 10px;
        background-color: #2264A7;
        font-size: 1.2em !important;
    }
}
