<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-only start (click)="general.menu();">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
        <button ion-button icon-only hidden >
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div class='the-container'>
    <span  style='color: #fff; font-size: 30px;'>{{sector}}</span>
  </div>

<br>
  <ion-item>
      <ion-label>Formulario:</ion-label>
   </ion-item>



   <ion-row>
      <ion-col col-12>
          <ion-select  name='page' [(ngModel)]="page" placeholder="Seleccione formulario">
              <ion-option   value="RegistroGuiaDespachoPage">Agregar guía de despacho</ion-option>
              <ion-option    value="FromularioCargaAlimentoPage">Carga de alimentos</ion-option>
              <ion-option   value="ContadorPage" *ngIf="permiso=='aves'" >Mortalidad</ion-option>
              <ion-option    value="MainviewPage">Necropsia</ion-option>
              <ion-option   value="FormularioCrianzaPage">Registro de crianza</ion-option>
        
            </ion-select>
      </ion-col>
    </ion-row>


  <div class='btn-container'>
    <button margin-bottom ion-button round full class="login-btn" type='submit' (click)='onToFormulario()'> Ir al formulario </button>
  </div>
  
</ion-content>
