<ion-header>

    <ion-toolbar>
        <ion-buttons>
            <button ion-button icon-only start (click)="general.menu();">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>

        <ion-buttons end>
            <button ion-button icon-only hidden >
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class='the-container'>
        <span  style='color: #fff; font-size: 20px;'>Mortalidad {{SectorGuia}}</span>
    </div>

    <ion-row margin-top margin-bottom>
        <ion-col class='border-col'  margin-bottom>


            <ion-item >
                <ion-label>Fecha:</ion-label>
                <ion-datetime [(ngModel)]='fecha.fechaInicio' #dateinput class="bold-text" displayFormat='DD/MM/YY' pickerFormat='DD/MM/YYYY'   name='fecha' placeholder="Seleccione"></ion-datetime>
            </ion-item>
        </ion-col>
        <ion-col class='border-col header-separation' margin-bottom>


            <ion-item >
                <ion-label>Hora:</ion-label>
                <ion-datetime [(ngModel)]='fecha.horaInicio' #dateinput class="bold-text" displayFormat='HH:mm' pickerFormat='HH:mm' name='hora' placeholder="Seleccione"></ion-datetime>
            </ion-item>

        </ion-col>
    </ion-row>

    <div class="coment-cont">
        <div class=" coment-item">
                <ion-grid>
                        <ion-row>
                          <ion-col col-4>  <ion-label>Pabellón</ion-label></ion-col>
                          <ion-col col-8 class="bold-text">
                                <ion-select  [(ngModel)]="pabellon" (ionChange)="CambioPabellon()" col-12 placeholder="Seleccione pabellón" [disabled]="!fecha.fechaInicio || !fecha.horaInicio">
                                        <ion-option *ngFor='let p of pabellones'  value="{{p.id}}" col-12>{{p.nro_pabellon}}</ion-option>
                                    </ion-select>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
            
        </div>
    </div>



    <div class="causales-list" *ngIf="pabellon"  >
        <div class="causal-cont" >
            <div class="causal-input-cont"  *ngFor="let m of Mortalidad; let i = index">
             
                 <div class="sub-btn"(click)="mortalidadMenos()" > - </div>
                 <div class="causal-input"> 
                     <ion-item>
                        <ion-input type="number"   [(ngModel)]="m.valor"  (ionBlur)="obtenerTotal()"></ion-input>
                     </ion-item>
                 </div>
                 <div class="add-btn" (click)="mortalidadAdd()" > + </div>
                 <div class="causal-txt"> {{m.causa}} </div>
            </div>
        </div>
    </div><br>




    <ion-grid *ngIf="pabellon">
        <ion-row>
            <ion-col col-6  *ngFor="let causales of Causales; let i = index">
                <div class="causales-list">
                    <div class="causal-cont">
                        <div class="causal-input-cont">
                            <div class="sub-btn" (click)="quitarValorCausa(i)"> - </div>
                            <div class="causal-input">
                                <ion-item>
                                    <ion-input type="number" [(ngModel)]="causales.valor"  (ionBlur)="obtenerTotal()"></ion-input>
                                </ion-item>
                            </div>
                            <div class="add-btn" (click)="agregarValorCausa(i)"> + </div>
                            <div class="causal-txt"> {{causales.causa}} </div>
                        </div>
                    </div>
                </div>
            </ion-col>
            <!--<ion-col col-6>This column will take 6 columns</ion-col>-->
        </ion-row>
    </ion-grid>



    <div (click)='Eviar()' class="save-btn" margin-top *ngIf="pabellon">
        <div class="total"> TOTAL : {{total}}</div>
        <div class="guardar">ENVIAR <ion-icon name="ios-arrow-forward"></ion-icon></div>
    </div>

  





</ion-content>
