page-contador {
  

    .header  .toolbar {
  
        
        .toolbar-title{
            color: #2264A7;
            overflow: visible;
            word-wrap: normal;
            font-size: 1.35em !important;
            text-align: center;
            white-space: initial;
            margin-top: 9px;
        }

         .bar-buttons{
            align-self: flex-start !important;
        }

        -webkit-box-shadow: 0px 5px 18px 0px rgba(50, 50, 50, 0.65);
        -moz-box-shadow:    0px 5px 18px 0px rgba(50, 50, 50, 0.65);
        box-shadow:         0px 5px 18px 0px rgba(50, 50, 50, 0.65);
    }

    .counter{
        display:flex;
        color: #fff; 
        align-self: center;
        margin: 0;
        font-size: 20px;
    }

    .the-box {
        /*
        border-radius: 1000px;
        box-shadow: 5px 5px 5px rgba(68,68,68,0.13);
        */
    }

    .item {
        background-color: unset;
    }

    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom: none;
        box-shadow: 5px 5px 5px rgba(68,68,68,0.13);
    }


    .button {
        color: #488aff;
        background-color: unset;
        box-shadow: none;
    }



    .scroll-content {
      padding: 0 !important;
    }

    .item.item-block .item-inner {
        border-bottom: none;
      }

    .save-btn{
      
    
        width: 100%;
        display: flex;
        
        align-content: center;
        align-items: center;
        font-size: 1.3em;
        padding: 1em;
        background-color: #2264A7;
        color: #FFF;
        font-weight: lighter;
        //margin-top: 1.5em;

        .icon{
            margin-left: 1em;
        }
        .total{
            display: flex;
            flex: 1;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
        }
        .guardar{
            display: flex;
            justify-content: flex-end;
            flex: 1;
            align-content: center;
            align-items: center;
        }
    }

    .border-col {
        border: 1px solid #D6D6D6;
    }

    .bold-text {
        color: #0D67E6;  
        font-weight: bold;
  
    }


    .submit-btn{
      background-color: #2264A7;
    }

 /*    .fixed-content {
        background-color: rgb(244, 244, 244);
    } */

    .the-container{
        background-image: url('../assets/imgs/linea.png');
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100px;
    }

    .causales-list{

    
     
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;


        .causal-cont{

            width: 50%;
            display: flex;
            padding: 5px 0;
            
            width: 100%;
            margin-top: 7px;

            .causal-input-cont{

                display: flex;
                justify-content: flex-center;
                

                flex-flow: row wrap;
                flex: 1;

                background-color: rgb(244, 244, 244);
                border-radius: 3px;
                padding: 10px;
                padding-top: 0.7em;
                /* -webkit-box-shadow: 0px 5px 18px 0px rgba(50, 50, 50, 0.65);
                -moz-box-shadow:    0px 5px 18px 0px rgba(50, 50, 50, 0.65);
                box-shadow:         0px 5px 18px 0px rgba(50, 50, 50, 0.65); */

                .sub-btn{
                    display: flex;
                    flex: 1;
                    font-size: 3.5em;
                    color: #2264A7;
                    font-weight: bold;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    text-shadow: 2px 2px 9px rgba(150, 150, 150, 1);
                }
                .causal-input{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;

                    .item{
                        background-color: transparent !important;
                    }
                    .item-inner{
                        border: none !important;
                        box-shadow: none !important;
                    }
                    .text-input{

                        color: #000;
                        font-weight: bold;
                        font-size: 2em;
    
                            text-align: center;
                    }
                }
                .add-btn{
                    display: flex;
                    flex: 1;
                    font-size: 3em;
                    color: #2264A7;
                    font-weight: bold;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    text-shadow: 2px 2px 9px rgba(150, 150, 150, 1);

                }
                .causal-txt{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    .coment-cont{
        width: 100%;
        display: flex;
        padding: 5px;
        margin-bottom: 0.5em;
        .coment-item{
            display: flex;
            width: 100%;
            background-color: #FAFAFA;
            border-radius: 5px;
            -webkit-box-shadow: 2px 2px 18px 0px rgba(117, 114, 114, 0.425);
            -moz-box-shadow:    2px 2px 18px 0px rgba(117, 114, 114, 0.425);
            box-shadow:         2px 2px 18px 0px rgba(117, 114, 114, 0.425);

            padding: 11px;
        }

    }

    .counter-text{
      color: #2264A7; 
      font-weight: bold;
      text-shadow: 2px 2px 9px rgba(150, 150, 150, 1);
    }

}
