

#main-menu{

    .menu-header{

        width: 100%;
        display: flex;
        min-height: 10em;
        color: #FFF;
        flex-direction: column;
        justify-content: flex-end;
        background-image: url('../assets/imgs/linea.png');
        background-position: center;
        background-size: contain;
        background-repeat: repeat;
        padding: 1.5em;
        .full-name{
            width: 100%;
        }
        .email{
            width: 100%;
        }
    }

    .menu-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        .menu-item{
        

            width: 100%;
            display: flex;
            min-height: 2em;
            .item-tag{
                padding-left: 1.5em;
                display: flex;
                flex: 1;
                align-items: center;
    
            }
    
            .item-content{
                //padding-left: 1.5em;
                display: flex;
                flex: 1;
                align-items: center;
            }
        }
    
        .menu-item:nth-child(even) {
            background: #EBEFF8;
        }
    
        .logout{
            background: #FFF !important;
            margin-top: 3em;
            font-size: 1.1em;
            .item-tag{
    
            }
    
            .item-content{
    
            }
        }
    }

    .escoger-form {
        font-size: 10px;
    }

    #main-menu .menu-content .logout {
      font-size: unset;
    }
}

    