<ion-menu  id='main-menu' type="overlay"  [content]="mycontent" no-padding>
    <ion-content no-padding>
        <div text-right class="menu-header" *ngIf="user.userSession['nombre']!=null" >
            <div style='margin-bottom: 50px;  font-size: 1.8em' menuClose class="item-tag">
                <ion-icon class='the-arrow' name="arrow-back"></ion-icon>
            </div>
            <div class="full-name"> {{user.userSession['nombre']}} {{user.userSession['apellido']}}</div>
            <div class="email">{{user.userSession['email']}}</div>
        </div>

        <div class="menu-content" *ngIf="user.userSession!=null">
                <div class="menu-item">
                    <div class="item-tag">
                        Rut:
                    </div>
                    <div class="item-content">
                            {{user.userSession['rut']}}
                    </div>
                </div>

                <div class="menu-item">
                    <div class="item-tag">
                        Username:
                    </div>
                    <div class="item-content">
                            {{user.userSession['username']}}
                    </div>
                </div>
                <div class="menu-item">
                    <div class="item-tag">
                        Sector:
                    </div>
                    <div class="item-content">
                            {{user.userSession['sector']["nombre_corto"]}}
                    </div>
                </div>

                <div *ngIf="general.mostrarSelectorFormulario" style="margin-top: 10px" class="menu-item logout" (click)="onToFormularios()">
                    <div class="item-tag">
                            <ion-icon name="md-send"></ion-icon>
                    </div>
                    <div class="escoger-form" class="item-content">
                        <span>Escoger formulario</span>
                    </div>
                </div>

                <div class="menu-item logout" style="margin-top: 15px" (click)="logout()">
                        <div class="item-tag">
                                <ion-icon name="md-send"></ion-icon>
                        </div>
                        <div class="item-content">
                        <span>Cerrar sesión</span>
                        </div>
                    </div>
        </div>
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
