<!--
  Generated template for the RegistroGuiaDespachoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
      <ion-buttons>
        <button ion-button icon-only start (click)="general.menu();">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-buttons end>
          <button ion-button icon-only hidden >
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content padding>

    <div class='the-container'>
        <span  style='color: #fff; font-size: 20px;'>Agregar guía de despacho</span>
      </div>
      
      <ion-row margin-top margin-bottom>
        <ion-col class='border-col'  margin-bottom>
          <div hidden class='title-separation'>
            Fecha:
          </div>
         
        <ion-item >
          <ion-label>Fecha:</ion-label>
          <ion-datetime [(ngModel)]='fecha.fechaInicio' #dateinput class="bold-text" displayFormat='DD/MM/YY' pickerFormat='DD/MM/YYYY'   name='fecha' placeholder="Seleccione"></ion-datetime>
        </ion-item>
        </ion-col>
        <ion-col class='border-col header-separation' margin-bottom>
      
      
          <ion-item >
            <ion-label>Hora:</ion-label>
            <ion-datetime [(ngModel)]='fecha.horaInicio' #dateinput class="bold-text" displayFormat='HH:mm' pickerFormat='HH:mm' name='hora' placeholder="Seleccione"></ion-datetime>
          </ion-item>
          
        </ion-col>
      </ion-row>

      <div class="coment-cont" >
          <div class=" coment-item">
              <ion-grid>
                  <ion-row>
                    <ion-col col-4><ion-label>N° guía:</ion-label></ion-col>
                    <ion-col col-8 class="bold-text"><ion-input [(ngModel)]='NumeroGuia' name="NumeroGuia"  type='number' [disabled]="iniciado" placeholder="Ingrese N° guía" ></ion-input> </ion-col>
                  </ion-row>
                </ion-grid>
            
          </div>
        </div>

        <div class="coment-cont" >
            <div class=" coment-item">
                <ion-grid>
                    <ion-row>
                      <ion-col col-4> <ion-label>Sector guía: </ion-label></ion-col>
                      <ion-col col-8 class="bold-text"> <ion-label>{{SectorGuia}}</ion-label> </ion-col>
                    </ion-row>
                  </ion-grid>
             
            </div>
        </div>

        <div class="coment-cont" >
          <div class=" coment-item">
              <ion-grid>
                  <ion-row>
                    <ion-col col-4> <ion-label>Dieta</ion-label></ion-col>
                    <ion-col col-8 class="bold-text">
                       <ion-select [(ngModel)]="DietaGuia" col-12 placeholder="Seleccione dieta" style="text-align: left">
                        <ion-option value="{{d.id}}"  *ngFor="let d of ListaDietaGuia" col-12>{{d.dieta}}</ion-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          
          </div>
      </div>

        
        <div class="coment-cont" >
          <div class=" coment-item">
              <ion-grid>
                  <ion-row>
                    <ion-col col-4> <ion-label>Kilos guía</ion-label></ion-col>
                    <ion-col col-8 class="bold-text"><ion-input [(ngModel)]='KilosGuia' name="KilosGuia"  type='number' placeholder="Ingrese kilos de guía"></ion-input></ion-col>
                  </ion-row>
                </ion-grid>
           
       
          </div>
      </div>

      <ion-grid>   
        <ion-row>
          <ion-col col-6>
            <button  ion-button round    type='buttom' (click)='Agregar()' [disabled]="!NumeroGuia || !DietaGuia || !KilosGuia || !fecha.fechaInicio || !fecha.horaInicio" >Enviar </button>
          </ion-col>
        </ion-row>
      </ion-grid>


        
   

</ion-content>
