<!--
  Generated template for the PabellonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
 

    <ion-navbar >
        <ion-title >Control de necropsia</ion-title>
      </ion-navbar>
  
  </ion-header>

<ion-content >
        <ion-list no-lines class="sector-list">
                <ion-item>
                  <div class="sector-ico1 bg-size" item-start>
                  </div>
                  <p> Sector: <span class="bold-text"> {{sector}} </span> </p>
                </ion-item>
                 <ion-item>
                    <div class="sector-ico2 bg-size" item-start>
        
                      </div>
                    <p> Pabellón: <span class="bold-text"> {{pabellon}} </span> </p>
                  </ion-item>
        
                <ion-item>
                    <div class="sector-ico3 bg-size" item-start>
        
                      </div>
                    <p> Crianza: <span class="bold-text"> {{crianza}} </span> </p>
                  </ion-item>
              </ion-list>

              <div class="causales-list" >
                  <div class="causal-cont" *ngFor="let causales of causales; let i = index">
                      <div class="causal-input-cont">
                       
                           <div class="sub-btn"(click)="quitarValorCausa(i)" > - </div>
                           <div class="causal-input"> 
                               <ion-item>
                                  <ion-input type="number" [(ngModel)]="causales.valor"  (ionBlur)="obtenerTotal()" ></ion-input>
                               </ion-item>
                           </div>
                           <div class="add-btn" (click)="agregarValorCausa(i)" > + </div>
                           <div class="causal-txt"> {{causales.causa}} </div>
                      </div>
                  </div>
              </div>

              <div class="save-btn" >
                 <div class="total"> TOTAL : {{total}}</div>
                  <div class="guardar" (click)="guardar()">GUARDAR <ion-icon name="ios-arrow-forward"></ion-icon> </div>
              </div>
  
</ion-content>
