page-confirmacion-formulario {
  

   
    .btn-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
     
    }

/*     .button-round {
      padding: 0 10rem;  
    } */

    .login-btn{
        border-radius: 10px;
        background-color: #2264A7;
        font-size: 1.2em !important;
    }

    .text-container {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        background-image: url('../assets/imgs/linea.png');
        height: 200px;
        align-items: center;
       
    }

    .button-round{
        padding: 0 5rem;
    }

    

      .scroll-content {
        padding: 0 !important;
      }  
    .content {
        color: white;
    }
}
