page-mainview {

   

    .header  .toolbar {
       
        .toolbar-title{
            color: #2264A7;
            overflow: visible;
            word-wrap: normal;
            font-size: 1.35em !important;
            text-align: center;
            vertical-align: text-top;
          // background-color: red;
           margin-top: 9px;

        }
        button{
           // background-color: coral;
           //align-self: flex-start !important;
        }

        -webkit-box-shadow: 0px 5px 18px 0px rgba(50, 50, 50, 0.65);
            -moz-box-shadow:    0px 5px 18px 0px rgba(50, 50, 50, 0.65);
            box-shadow:         0px 5px 18px 0px rgba(50, 50, 50, 0.65);
    }

    .sector-list{
        padding: 1em 2em 6em 2em;
        background-image: url('../assets/imgs/linea.png');
        background-position: center;
        background-size: contain;
        background-repeat: repeat;

        .item {
            background-color: transparent;
            color: #fff !important;
        }

        

        p{
            
            font-size: 0.9em !important;
            color: #fff !important;
        }



        .bold-text1 {
            color: #0D67E6 !important;
            font-weight: bold;
            //text-align: center;
            vertical-align: top;
        }

        

        .bg-size{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 2em;
            width: 2em;
        }
        .sector-ico1{
            background-image: url('../assets/imgs/sector.svg');
        }
        .sector-ico2{
            background-image: url('../assets/imgs/pabellones.svg');
        }
        .sector-ico3{
            background-image: url('../assets/imgs/crianza.svg');
        }

    }

    .footer {
        /* *{

            overflow: visible !important;
            word-wrap: unset;
            }
        overflow: visible !important; */
        .add-btn-cont{
            background-color: transparent;
            display: flex;
            justify-content: center;
            width: 100%;
            border-top: 1px solid rgb(209, 209, 209);
        }
        
        
        
            .toolbar-background{
                background-color: #fff;

            }

            .add-btn{
                background-color: #EF7521;
                color: #fff;
                font-size: 3.4em;
                font-weight: lighter;
                border-radius: 50%;
                height: 1.2em;
                width: 1.2em;
                /* position: relative;
                top: -50%; */
            }
        
    }

    .coment-cont{
        width: 100%;
        display: flex;
        padding: 5px;
        margin-bottom: 0.5em;
        .coment-item{
            display: flex;
            width: 100%;
            background-color: #FAFAFA;
            border-radius: 5px;
            -webkit-box-shadow: 2px 2px 18px 0px rgba(50, 50, 50, 0.5);
            -moz-box-shadow:    2px 2px 18px 0px rgba(50, 50, 50, 0.5);
            box-shadow:         2px 2px 18px 0px rgba(50, 50, 50, 0.5);

            padding: 11px;
        }

    }
    .info-btns{
        position: relative;
        top: -8%;
        width: 100%;
        display: flex;

        overflow: visible;
        height: 2.5em;


        .flex-btn-cont{
            display: flex;
            width: 50%;
            padding: 5px;

            .info-btn{

                display: flex;
                flex: 1;
                align-content: center;
                align-items: center;
                min-height: 5em;
                background-color: #FAFAFA;
                border-radius: 5px;
                padding: 10px;
                -webkit-box-shadow: 2px 2px 18px 0px rgba(50, 50, 50, 0.5);
                -moz-box-shadow:    2px 2px 18px 0px rgba(50, 50, 50, 0.5);
                box-shadow:         2px 2px 18px 0px rgba(50, 50, 50, 0.5);

                .item{
                    background-color: transparent !important;
                    padding-left: 2px;
                    .datetime {
                        padding-left: 2px;
                        padding-right: 2px;
                    }
                }
                .item-inner{
                    border: none !important;
                    box-shadow: none !important;
                }

                .bold-text{
                    font-weight: bold;
                }
                .info{
                    display: flex;
                    flex: 1;
                    align-content: center;
                    align-items: center;
                    font-size: 1.1em;
                }
                .arrow{
                    width: min-content;
                    color: #EF7521;
                    font-size: 2em;
                    font-weight: lighter;
                    .icon {
                        margin-left: 2px;
                    }
                }
            }
        }
    }

    .lista-pabs{
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .pab-item{

            margin-top: 10px;
            display: flex;
            width: 100%;
            background-color: #FAFAFA;
            border-radius: 5px;
            -webkit-box-shadow: 2px 2px 18px 0px rgba(50, 50, 50, 0.5);
            -moz-box-shadow:    2px 2px 18px 0px rgba(50, 50, 50, 0.5);
            box-shadow:         2px 2px 18px 0px rgba(50, 50, 50, 0.5);
            flex-wrap: wrap;
            padding: 11px;
            padding-bottom: 1.5em;

            .pab-header{

                display: flex;
                width: 100%;
                margin-bottom: 1em;

                .arrow{
                    width: min-content;
                    color: #EF7521;
                    font-size: 1.5em;
                    font-weight: lighter;
                    .icon {
                        margin-left: 5px;
                    }
                }

                .pab-name{

                    display: flex;
                    flex: 1;
                    align-content: center;
                    align-items: center;
                    font-size: 1.1em;
                }
            }

            .pab-causal{

                display: flex;

                flex-direction: column;
                width: 25%;
                
                align-content: center;
                align-items: center;
                justify-content: flex-start;



                .causal-num{
                    font-weight: bold;
                    font-size: 1.1em;
                    margin-bottom: 0.8em;
                }

            }
        }
    }

    .enviar-btn{

        padding: 0.8em;
        font-size: 1.2em;
        color: #FFF;
        background-color: #2264A7;
        font-weight: lighter;
        text-align: right;
        width: 100%;
        
    }


}

